<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{%static 'style.css' %}">
    <title>Ajout</title>
</head>
<body>
    <h1> ajout d'un joueur &#129358</h1>
    <form method="post" action="/bibliotheque/traitement/">
        {% csrf_token %} <!-- code permettant de protéger votre application en évitant
de rejouer un formulaire avec des droits différents -->
        {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
-->
        <input type="submit" value="envoyer les données">
    </form>
</body>
</html>
